{% extends 'base.html.twig' %}

{% block title %}{% if app.request.get('_route') == "lightVehicles" %}Véhicules Léger{% else %}Poids Lourds{% endif %}{% endblock %}
{% block pageTitle %}{% if app.request.get('_route') == "lightVehicles" %}Liste des Véhicules Léger{% else %}Liste des Poids Lourds{% endif %}{% endblock %}

{% block stylesheets %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="{{ asset('js/dataTable.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="container-fluid">

    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <div class="row clearfix">
              <div class="col-sm-4">
                <div class="form-group">
                  <select id="selectSociete">
                    <option value="">TOUTES LES SOCIETES</option>
                    {% for company in companies %}
                      <option value="{{ company.name }}">{{ company.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Recherche ..." id="search_box" >
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table id="vehiculeTable" class="table table-hover product_item_list c_table theme-color">
              <thead>
              <tr>
                <th>SOCIETE</th>
                <th>IMMATRICULATION</th>
                <th>MISE EN CIRCULATION</th>
                <th>ACTION</th>
              </tr>
              </thead>
              <tbody>
              {% for vehicle in vehicles %}
                <tr>
                  <td>{{ vehicle.company.name }}</td>
                  <td>{{ vehicle.numberPlate }}</td>
                  <td>{{ vehicle.putCirculation|date('d/m/Y') }}</td>
                  {% if app.request.get('_route') == "lightVehicles" %}
                  <td><a href="{{ path('cardLightVehicle', { 'numberPlate': vehicle.numberPlate }) }}" class="btn btn-default btn-round" style="width: 100%;font-size: 15px;">VISUALISER</a></td>
                  {% else %}
                  <td><a href="{{ path('cardHeavyVehicle', { 'numberPlate': vehicle.numberPlate }) }}" class="btn btn-default btn-round" style="width: 100%;font-size: 15px;">VISUALISER</a></td>
                  {% endif%}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}